$color-accent: #024D5F
$color-text: #000000
$color-text-alt: #454545
$color-background: #FFFFFF
$color-background-alt: #F2F2F2
$color-border: rgba(0, 0, 0, 0.30)

$font-bitter: "Bitter", sans-serif
$heading-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: $heading-font-family
$h1-font-family: $font-bitter
$h2-font-family: $font-bitter
$h3-font-family: $font-bitter

$header-background: none
$header-border-bottom-width: 0
$header-logo-height-desktop: 80px
$hero-background-color: none
$footer-background-color: $color-background-alt
$footer-logo-height-desktop: 50px