$color-accent: #891722
$color-text: #000000
$color-text-alt: #454545
$color-background: #FFFFFF
$color-background-alt: #F2F2F2
$color-border: rgba(0, 0, 0, 0.30)

$heading-font-family: "Redaction", serif
$body-font-family: $heading-font-family

$header-background: none
$header-border-bottom-width: 0
$header-logo-height: 60px
$header-logo-height-desktop: 90px
$hero-background-color: none
$footer-color: $color-background
$footer-background-color: $color-accent
$footer-logo-height-desktop: 50px